<p *ngIf="todos?.pending">Chargement en cours...</p>
<app-todo [todo]="todo"
          *ngFor="let todo of todos?.data"
          (toggle)="toggle.next($event)"
          [titi]="'Reyren'"
          [completed]="todo?.id === (toggleTodo$ | async)"
          (remove)="remove.next($event)">
   ToggleTodo() : {{todo?.id === (toggleTodo$ | async)}}
</app-todo>

<p *ngIf="todos?.error">{{todos.error}}</p>
<p><span style ="font-size:15px">Id todo toggled is {{(toggleTodo$ | async)}} >> toggle is {{todos?.data[2]?.id === (toggleTodo$ | async) }}</span></p>